#top_nav {
    background-color: rosybrown;
    margin-left: 100px;
    text-align: center;
    border-top: 12px solid wheat;
    border-bottom: 12px solid wheat;
    padding: 30px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#table1 {
    background-color: bisque ; width: 350px; float: inline-start; text-align: centers;
}
#table1 td,tr,th,table {border: 1px cadetblue solid;
     border-collapse: collapse;
     width: 550px;
     text-align: center;
      }

#right_column ul {
    list-style: decimal; }

#left_column ol {list-style: lower-roman;}